body {
    background: #e3f2fd;
    font-family: Poppins, sans-serif;
}

.dashboard-container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

table th, table td {
    border: 1px solid #90caf9;
    padding: 10px;
}

.logout-btn {
    background: #d32f2f;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
